#textdomain wesnoth-The_Altaz_Mariners
[unit_type]
	id=TAM_Thug
	advances_to=TAM_Bandit
	profile="portraits/Largo.png"
    name= _ "Thug"
    race=human
    image=units/human-outlaws/thug.png
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/human-outlaws/thug-melee-1.png"
        [/frame]
    [/leading_anim]
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=56
    level=1
    alignment=chaotic
    cost=13
    usage=fighter
    description= _ "Largo was always the rash one. Quick to pick a fight, and quick to finish them. Though his temper often landed him in trouble, his brother Hugo was always around to pick up the pieces."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/thug-defend-2.png" "units/human-outlaws/thug-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    
    [attack]
        name=swing
        description=_"swing"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=jab
        description=_"jab"
        icon=attacks/mace.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
    
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        offset=0.0~0.2,0.2~0.6,0.6~0.4,0.4~0.0
        start_time=-500
        [frame]
            image="units/human-outlaws/thug-melee-[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
    [/attack_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/human-outlaws/thug-idle-[1~5,4,5,4,5,2,1].png:[100*3,400,300,400,300,600,100*3]"
        [/frame]
    [/idle_anim]
[/unit_type]
