#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=black_rock-b
	name="Black Rock"
	map_data="{~add-ons/The_Altaz_Mariners/maps/black_rock-b.map}" 
	random_start_time="no"
	turns=-1  
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{DEFAULT_SCHEDULE}
	{MOOD_CALM}

	####################################################################################
	# Side Defintions
	####################################################################################

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Thug
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Poacher
		fog=yes
		shroud=yes
	[/side]
	
	[side]
		side=3
		controller=ai
		no_leader=yes
		hidden=yes
		allow_player=no
		team_name=1
		user_team_name= _ "Friends"
		team_lock=yes
		fog=yes
		shroud=yes
		share_vision=all
	[/side]
	
	[side]
		side=4
		controller=ai
		team_name=2
		user_team_name= _ "Foes"
		team_lock=yes
		no_leader=yes
		allow_player=no
		disallow_observers=yes
	[/side]
	
	####################################################################################
	# Objectives
	####################################################################################

	[event]
	name=prestart
        [objectives]
            side=0
            [objective]
                description= _ "Investigate the island"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of mariners"
                condition=lose
            [/objective]
        [/objectives]
        {TAM_EXIT 25 3}
    [/event]
    
	####################################################################################
	# Intro
	####################################################################################
	
	#[event]
	#name=start
	#	[message]
	#		speaker=Hugo
	#		message=_ "Let's either use the stash or get out of here."
	#	[/message]
	#[/event]
	
	####################################################################################
	# Placing Units
	####################################################################################
	
	[event]
    name=prestart
		{TAM_PLACE_FOLLOWERS_ON_SHIP}
		#{TAM_TELEPORT side=1 canrecruit=yes 37 6}
		#{TAM_TELEPORT side=2 canrecruit=yes 38 6}
	[/event]
	
	####################################################################################
	# Placing Images
	####################################################################################
	
	{TAM_PLACING_PLAYER_VESSEL 24 2}
	[event]
    name=prestart
		{MODIFY_TERRAIN Wo 24 2}
	#	{MODIFY_TERRAIN Ur 25 6}
	#	{MODIFY_TERRAIN Wwf^Dr 30 4}
	#	{MODIFY_TERRAIN Ww 30 5}
	#	{MODIFY_TERRAIN Ww 31 5}
	#	{MODIFY_TERRAIN Ww 31 6}
	#	{MODIFY_TERRAIN Ww 30 8}
	#	{MODIFY_TERRAIN Ww 31 9}
	[/event]
			
	####################################################################################
	# Events
	####################################################################################
	
	{TAM_GLOBAL_EVENTS}
	#{TAM_STASH_POINT 34 5 black_rock}
    
    [event]
	name=moveto
		[filter]
			side=1,2
			canrecruit=yes
		[/filter]
		[message]
			speaker=unit
			message= _ "There's nowt here."
		[/message]
	[/event]
	
	[event]
	name=moveto
		[filter]
			side=1,2
			canrecruit=yes
			x,y=30,4
		[/filter]
		[message]
			speaker=unit
			message= _ "Looks like our dam held fast. We can always take up labouring if this pirate lark doesn't work out."
		[/message]
	[/event]
	
	# Players can still pick up the map, if they didn't get it last time
    #[event]
	#name=moveto
	#	[filter]
	#		side=1,2
	#		[filter_location]
	#			find_in=hilldons_map_xy
	#		[/filter_location]
	#	[/filter]
	#	{PLAY_SOUND skeleton-hit-2.ogg}
	#	[remove_item]
	#		x,y=$x1,$y1
	#	[/remove_item]
	#	[store_locations]
	#		variable=hilldons_map_xy
	#		find_in=hilldons_map_xy
	#		[not]
	#			x,y=$x1,$y1
	#		[/not]
	#	[/store_locations]
	#	[message]
	#		speaker=unit
	#		message= _ "The map shows the way to a place called Peoria Ruins..."
	#	[/message]
	#	{TAM_LOCATION_ADDED}
	#	{VARIABLE peoria_ruins a}
	#[/event]
	
[/scenario]