#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=blade_point-a
	name="Blade Point"
	map_data="{~add-ons/The_Altaz_Mariners/maps/blade_point.map}" 
	random_start_time="no"
	turns=-1
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{DEFAULT_SCHEDULE}
	{MOOD_NORMAL}
	
	####################################################################################
	# Side Defintions
	####################################################################################

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Thug
		fog=yes
		shroud=no
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Poacher
		fog=yes
		shroud=no
	[/side]
	
	[side]
		side=3
		controller=ai
		no_leader=yes
		hidden=yes
		allow_player=no
		team_name=1
		user_team_name= _ "Friends"
		team_lock=yes
		fog=yes
		shroud=yes
		share_vision=all
		color=black
	[/side]
	
	[side]
		side=4
		controller=ai
		team_name=2
		user_team_name= _ "Foes"
		team_lock=yes
		no_leader=yes
		allow_player=no
		disallow_observers=yes
	[/side]
	
	####################################################################################
	# Objectives
	####################################################################################

    [event]
    name=prestart
        [objectives]
            side=0
            [objective]
                description= _ "Investigate the island"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of mariners"
                condition=lose
            [/objective]
        [/objectives]
        {VARIABLE scenario blade_point}
    [/event]
    
	####################################################################################
	# Intro
	####################################################################################
	
	[event]
    name=start
		{TAM_SCROLL_TO 31 8}
		[message]
			speaker=Largo
			scroll=no
			message=_ "Blade Point. Named after that giant crag, I suppose. This place must be uninhabitable."
		[/message]
		[message]
			speaker=Hugo
			scroll=no
			message=_ "I'm not so sure, I spot a hut..."
		[/message]
	[/event]
	
	####################################################################################
	# Placing Units
	####################################################################################
	
	[event]
    name=prestart
		{TAM_PLACE_FOLLOWERS}
		{GENERIC_UNIT 4 "Troll Rocklobber" 28 4}
		{GENERIC_UNIT 4 "Troll Whelp" 27 11}
		{GENERIC_UNIT 4 "Troll Whelp" 34 3}
		{GENERIC_UNIT 4 "Troll Whelp" 36 10}
	[/event]
	
	####################################################################################
	# Placing Images
	####################################################################################
	
	{TAM_PLACING_PLAYER_VESSEL 31 8}
	{PLACE_IMAGE scenery/hut.png 32 4}
	
	####################################################################################
	# Events
	####################################################################################
	
	{TAM_GLOBAL_EVENTS}
	{TAM_DISEMBARKING_VESSEL (side=1,2) (x,y=5,2) 31 8}
    {TAM_BOARDING_VESSEL side=1,2 x,y=31,8}
    
    # Warning
    [event]
		name=moveto
		[filter]
            side=1
  		[/filter]
		[message]
			speaker=Hugo
			scroll=no
			message=_ "Watch your step, brother. This island smells bad."
		[/message]
	[/event]
	
	# Kashmir
	[event]
	name=moveto
		[filter]
            name=Kashmir
			side=1,2
			[filter_wml]
				[modifications]
					[trait]
						id=follower
					[/trait]
				[/modifications]
			[/filter_wml]
  		[/filter]
		[message]
			speaker=unit
			message=_ "When mountains crumble to the sea..."
		[/message]
		[message]
			canrecruit=yes
			side=$side_number
			message=_ "Huh?"
		[/message]
	[/event]
		
	# Attacked by trolls
	[event]
		name=moveto
		[filter]
            side=4
            [filter_adjacent]
                side=1,2
            [/filter_adjacent]
  		[/filter]
		[message]
			speaker=Hugo
			message=_ "Damn it, these ugly brutes were hiding in the mountains!"
		[/message]
		[message]
			speaker=Largo
			message=_ "Let me at them!"
		[/message]
	[/event]
	
	# If all trolls are killed
	[event]
	name=die
	first_time_only=no
		[filter]
			side=4
		[/filter]
		[if]
			[not]
				[have_unit]
					side=4
				[/have_unit]
			[/not]
			[then]
				[message]
					speaker=Largo
					message=_ "Seems like there's nothing else for us here, let's get going."
				[/message]
				{VARIABLE blade_point b}
				{TAM_EXIT 5 3}
			[/then]
		[/if]
	[/event]
	
	# Investigating the hut
	[event]
	name=moveto
		[filter]
			x=32
			y=5
			side=1,2
			[filter_location]
				radius=1
				terrain=Hh^Xo
			[/filter_location]
		[/filter]
		[message]
			speaker=unit
			message=_ "The door of the hut is securely locked. There doesn't seem to be any way in."
		[/message]
		[message]
			speaker=unit
			message=_ "The lock can't even be picked. The keyhole's as narrow as a knife."
		[/message]
	[/event]
	
	# Note: The code for opening the hut is in macros/inventory.cfg
	
	# Entering the hut
	[event]
		name=moveto
		[filter]
			x=32
			y=4
			side=1,2
		[/filter]
		[endlevel]
			result=victory
			continue_no_save=yes
			carryover_percentage=100
			bonus=no
			carryover_report=no
			linger_mode=no
			next_scenario=blade_point-c
		[/endlevel]
	[/event]
	
[/scenario]
