#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=encounter-nagas-attack
	name="Naga Attack"
	map_data="{~add-ons/The_Altaz_Mariners/maps/encounter-open-sea.map}" 
	random_start_time="no"
	turns=-1
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{DEFAULT_SCHEDULE}
	{MOOD_NORMAL} 
	
	####################################################################################
	# Side Defintions
	####################################################################################

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Thug
		fog=no
		shroud=no
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Poacher
		fog=no
		shroud=no
	[/side]
	
	[side]
		side=3
		controller=null
		team_name=1
		user_team_name= _ "Friends"
		no_leader=yes
		hidden=yes
		team_lock=yes
		allow_player=no
		disallow_observers=yes
	[/side]
	
	[side]
		side=4
		controller=ai
		canrecruit=yes
		team_name=2
		user_team_name= _ "Foes"
		allow_player=no
		disallow_observers=yes
		type="Naga Warrior"
		name="Naga Chieftan"
		id="Naga Chieftan"
		recruit="Naga Fighter,TAM_Naga Hunter,TAM_Nagini Maiden"
		gold=10
		[ai]
			aggression=1.0
		[/ai]
		[modifications]
			{TRAIT_STRONG}
			{TRAIT_QUICK}
			{TAM_CASTLE_MOVEMENT}
		[/modifications]
	[/side]
	
	####################################################################################
	# Objectives
	####################################################################################

	[event]
	name=prestart
        [objectives]
            side=0
            [objective]
                description= _ "Survive at least a day"
                condition=win
            [/objective]
            [objective]
                description= _ "Or destroy all enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of mariners"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    
     # If all enemies killed
	[event]
	name=die
	first_time_only=no
		[filter]
			side=4
		[/filter]
		[if]
			{CONDITION turn_number less_than 7}
			[not]
				[have_unit]
					side=4
				[/have_unit]
			[/not]
			[then]
				{TAM_EXIT 5 3}
			[/then]
		[/if]
	[/event]
	
	# If players survive a day and a half
	[event]
	name="turn 7"
		[if]
			[have_unit]
				side=4
			[/have_unit]
			[then]
				[message]
					side=2
					canrecruit=yes
					message=_ "The winds favour us. We may set sail now."
				[/message]
				{TAM_EXIT 5 3}
			[/then]
		[/if]
	[/event]
	
	####################################################################################
	# Intro
	####################################################################################
	
	[event]
	name=start
		[message]
			speaker=Largo
			message=_ "Nagas on the starboard bow!"
		[/message]
	[/event]

	####################################################################################
	# Placing Images
	####################################################################################
	
	{TAM_PLACING_PLAYER_VESSEL 1 1}
	{TAM_GENERATE_SEA_TERRAIN}
	{TAM_PLACE_GOODS rum barrel-floating.png 14 10}
	
	####################################################################################
	# Placing Units
	####################################################################################

	[event]
    name=prestart
		{MODIFY_TERRAIN Khw 15 11}
		{MODIFY_TERRAIN Chw 15 10}
		{TAM_REMOVE_IMAGE 1 1}
		{TAM_PLACE_FOLLOWERS}
		{TAM_PLACE_UNIT_RANDOMLY 4 "Naga Fighter" 1 16 7 11}
		{TAM_PLACE_UNIT_RANDOMLY 4 "Naga Fighter" 1 16 7 11}
		{TAM_PLACE_UNIT_RANDOMLY 4 "TAM_Naga Hunter" 1 16 7 11}
    [/event]
    
	####################################################################################
	# Events
	####################################################################################
	
	{TAM_GLOBAL_EVENTS}
	{TAM_AI_GOLD_BONUS}
	{TAM_PLACE_GOODS jewels chest.png 15 11}

[/scenario]
