#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=encounter-shipwreck-birds
	name="Shipwreck"
	map_data="{~add-ons/The_Altaz_Mariners/maps/encounter-shipwreck-treasure.map}"
	random_start_time="no"
	turns=-1
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{DEFAULT_SCHEDULE_DUSK}
	{MOOD_BATTLE}
	
	####################################################################################
	# Side Defintions
	####################################################################################

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Thug
		fog=no
		shroud=no
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=TAM_Poacher
		fog=no
		shroud=no
	[/side]
	
	[side]
		side=3
		controller=null
		team_name=1
		user_team_name= _ "Friends"
		no_leader=yes
		team_lock=yes
		allow_player=no
		disallow_observers=yes
	[/side]
	
	[side]
		side=4
		controller=ai
		team_name=2
		user_team_name= _ "Foes"
		allow_player=no
		disallow_observers=yes
		no_leader=yes
		[ai]
			aggression=1.0
		[/ai]
	[/side]
	
	####################################################################################
	# Objectives
	####################################################################################

	[event]
    name=prestart
        [objectives]
            side=0
            [objective]
                description= _ "Survive at least one day"
                condition=win
            [/objective]
            [objective]
                description= _ "Or destroy all enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of mariners"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
	
	# If all enemies killed
	[event]
	name=die
	first_time_only=no
		[filter]
			side=4
		[/filter]
		[if]
			{CONDITION turn_number less_than 7}
			[not]
				[have_unit]
					side=4
				[/have_unit]
			[/not]
			[then]
				{TAM_EXIT 5 3}
			[/then]
		[/if]
	[/event]
	
	# If players survive a day
	[event]
	name="turn 7"
		[if]
			[have_unit]
				side=4
			[/have_unit]
			[then]
				[message]
					side=2
					canrecruit=yes
					message=_ "The winds favour us. We may set sail now."
				[/message]
				{TAM_EXIT 5 3}
			[/then]
		[/if]
	[/event]
	
	####################################################################################
	# Intro
	####################################################################################
	
	[event]
	name=start
		[message]
			speaker=Largo
			message=_ "Looks like the crew didn't make it. I guess those birds are here to pick on what remains."
		[/message]
		[message]
			speaker=Hugo
			message=_ "If they have a taste for flesh we might be in trouble..."
		[/message]
	[/event]

	####################################################################################
	# Placing Images
	####################################################################################
	
	{TAM_PLACING_PLAYER_VESSEL 1 1}
	#{TAM_GENERATE_SEA_TERRAIN}
	{PLACE_IMAGE items/bones.png 5 8}
	{PLACE_IMAGE items/bones.png 12 10}
	{PLACE_IMAGE items/bones.png 9 8}
	{PLACE_IMAGE items/bones.png 11 7}
		
	####################################################################################
	# Placing Units
	####################################################################################
	
 	[event]
    name=prestart
		{TAM_REMOVE_IMAGE 1 1}
		{TAM_PLACE_FOLLOWERS}
		# 1-500
		[if]
			{CONDITION global_turns greater_than 1}
			{CONDITION global_turns less_than_equal_to 500}
			[then]
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
			[/then]
		[/if]
		# 500-1000
		[if]
			{CONDITION global_turns greater_than 500}
			{CONDITION global_turns less_than_equal_to 1000}
			[then]
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
			[/then]
		[/if]
		#1000+
		[if]
			{CONDITION global_turns greater_than 1000}
			[then]
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
				{TAM_PLACE_UNIT_RANDOMLY 4 "Elder Falcon" 1 16 7 11}
			[/then]
		[/if]
	[/event]
	
	####################################################################################
	# Events
	####################################################################################
	
	{TAM_GLOBAL_EVENTS}
	{TAM_PLACE_RANDOM_GOODS 9 10}
	{TAM_PLACE_RANDOM_GOODS 12 8}
	{TAM_PLACE_RANDOM_GOODS 5 10}
		
[/scenario]
