#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=judro_pits_underground-a
	name="Judro Pits"
	map_data="{~add-ons/The_Altaz_Mariners/maps/judro_pits_underground.map}" 
	random_start_time="no"
	turns=-1
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{TOD_NEUTRAL_UNDERGROUND}
	{MOOD_BATTLE}
	
	####################################################################################
	# Side Definitions
	####################################################################################	

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Thug
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name= _ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Poacher
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=3
		controller=ai
		no_leader=yes
		allow_player=no
		team_name=mariners,foes
		user_team_name= _ "Friends"
		team_lock=yes
		fog=yes
		shroud=yes
		share_vision=all
	[/side]
	
	[side]
		side=4
		controller=ai
		team_name=foes
		user_team_name= _ "Foes"
		team_lock=yes
		allow_player=no
		disallow_observers=yes
		no_leader=yes
		fog=yes
		shroud=yes
	[/side]
	
	####################################################################################
	# Objectives
	####################################################################################

	[event]
	name=prestart
		[objectives]
			side=0
			[objective]
                description=_ "Defeat the pit fighters"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of mariners"
                condition=lose
            [/objective]
		[/objectives]
		#{TAM_EXIT 50 18}
	[/event]
	
	####################################################################################
	# Placing units
	####################################################################################

	[event]
	name=prestart
		{TAM_PLACE_FOLLOWERS}
		[disallow_recruit]
			side=1,2
			type=TAM_Lavinian_Light_Infantryman,TAM_Lavinian_Skirmisher,TAM_Lavinian_Slinger,TAM_Lavinian_Auxiliary
		[/disallow_recruit]
		

	[/event]
	
	####################################################################################
	# Placing images
	####################################################################################
	
	#{TAM_PLACING_PLAYER_VESSEL 29 24}
	
	[event]
	name=prestart	
		{PLACE_IMAGE scenery/stairs-spiral.png 47 11}
		{PLACE_IMAGE scenery/stairs-spiral.png 42 20}
		{PLACE_IMAGE items/bones.png 34 18}
		{PLACE_IMAGE scenery/figureheads/dwarf-statue.png 27 14}
	[/event]

	####################################################################################
	# Events
	####################################################################################

	{TAM_GLOBAL_EVENTS}

	####################################################################################
	# Dialogue
	####################################################################################
	
	[event]
	name="start"
		[message]
			speaker=narrator
			image=wesnoth-icon.png
			message=_ "As you step into the arena, you hear cheering from up above. Dozens of eager faces peer down at you from the walkways."
		[/message]
		[message]
			speaker=narrator
			caption=_ "Glish"
			image=portraits/Glish.png
			message=_ "Greetings."
		[/message]
	[/event]

		
[/scenario]
