#textdomain wesnoth-The_Altaz_Mariners

[scenario]
	id=morteau_battle-a
	name="Battle of Morteau"
	map_data="{~add-ons/The_Altaz_Mariners/maps/morteau.map}" 
	random_start_time="no"
	turns=-1
	experience_modifier=150
	victory_when_enemies_defeated=no
	allow_new_game=no
	force_lock_settings=yes
	{DEFAULT_SCHEDULE_DAWN}
	[music]
		name=silence.ogg
	[/music]
	
	####################################################################################
	# Side Defintions
	####################################################################################

	[side]
		side=1
		canrecruit=yes
		name=Largo
		id=Largo
		save_id=Largo
		controller=human
		team_name=1
		user_team_name=_ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Thug
		fog=yes
		shroud=yes
		[village]
			x,y=37,20
		[/village]
	[/side]

	[side]
		side=2
		canrecruit=yes
		name=Hugo
		id=Hugo
		save_id=Hugo
		controller=human
		team_name=1
		user_team_name=_ "Mariners"
		team_lock=yes
		share_vision=all
		gold=0
		village_gold=0
		income=-2
		type=Poacher
		fog=yes
		shroud=yes
		[village]
			x,y=41,20
		[/village]
	[/side]
	
	[side]
		side=3
		controller=ai
		allow_player=no
		name=Sayer
		id=Sayer
		team_name=1
		user_team_name= _ "Friends"
		team_lock=yes
		type="Ghoul"
		recruit=Ghoul,Walking Corpse
		gold=30
		village_gold=2
		fog=yes
		shroud=yes
		share_vision=all
		[modifications]
			{TAM_CASTLE_MOVEMENT}
		[/modifications]
	[/side]
	
	[side]
		side=4
		controller=ai
		type="Dark Sorcerer"
		recruit=Dark Adept,Thug,Poacher
		name="Dr Morteau"
		id="Dr Morteau"
		team_name=2
		user_team_name= _ "Foes"
		team_lock=yes
		allow_player=no
		disallow_observers=yes
		gold=125
		village_gold=2
		[modifications]
			{TRAIT_CRUEL}
			{TRAIT_INTELLIGENT}
			{TAM_CASTLE_MOVEMENT}
			profile=portraits/Morteau.png
		[/modifications]
		[ai]
			village_value=1
		[/ai]
	[/side]
	
	####################################################################################
	# Story
	####################################################################################
	
	[story]
		[part]
			background="story/TAM_morteau.jpg"
			show_title=no
			music=silence.ogg
			sound=VOX-Morteau.ogg
			story= _ "Under the cover of darkness, the brothers erected a makeshift fort upon the shoreline. The smell of salt and sea hung in the moonlit air - a grim reminder of the horrors they'd glimpsed on Morteau. Twisted science or dark magic it mattered not, for when dawn arrived the brothers made their move. Steel in hand and heart."
		[/part]
	[/story]
	
	####################################################################################
	# Objectives
	####################################################################################

    [event]
    name=prestart
        [objectives]
            side=0
            [objective]
                description=_ "Kill Dr Morteau"
                condition=win
            [/objective]
            [objective]
                description=_ "Death of mariners"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Sayer"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
	
	####################################################################################
	# Placing Units
	####################################################################################

	[event]
    name=prestart
		{TAM_PLACE_FOLLOWERS}
		# Sayer
		{TAM_PLACE_ZOMBIE 3 goblin 29 11}
		{TAM_PLACE_ZOMBIE 3 dwarf 28 13}
		{TAM_PLACE_ZOMBIE 3 mounted 24 10}
		{TAM_PLACE_ZOMBIE 3 troll 28 9}
		{TAM_PLACE_ZOMBIE 3 troll 24 13}
		{TAM_PLACE_UNIT 3 Soulless 25 9}
		# Dr Morteau
		{TAM_PLACE_UNIT 4 "Dark Adept" 47 8}
		{TAM_PLACE_UNIT 4 Thug 46 9}
		{TAM_PLACE_UNIT 4 Thug 47 11}
		{TAM_PLACE_UNIT 4 Thug 50 11}
		{TAM_PLACE_UNIT 4 Thug 47 7}
		{GENERIC_UNIT 4 Bandit 52 11}
    [/event]
    
	####################################################################################
	# Placing Images
	####################################################################################
	
	{TAM_PLACING_PLAYER_VESSEL 39 21}
	
	[event]
		name=prestart
		#{PLACE_IMAGE scenery/doubledoors-sw.png 49 10}
		{PLACE_IMAGE scenery/machine.png 51 9}
		{PLACE_IMAGE scenery/leanto-2.png 49 9}
		[if]
		{CONDITION temple_of_ice equals z}
			[then]
				{PLACE_IMAGE items/map.png 51 8}
			[/then]
		[/if]
    [/event]
    
	####################################################################################
	# Dialogue
	####################################################################################
	
	[event]
    name=start
		{MOOD_BATTLE}
	[/event]
	
	[event]
	name="turn 2"
		[message]
			speaker="Dr Morteau"
			message=_ "Men, it is time we put our pets to rest. To the village!"
		[/message]
	[/event]
	
	[event]
	name="turn 4"
		[message]
			side=4
			canrecruit=no
			message=_ "There are strangers on the island - they seem to be helping the creatures."
		[/message]
		{TAM_GOLD 4 20}
		[message]
			speaker="Dr Morteau"
			message=_ "Crush them!"
		[/message]
	[/event]
	
	[event]
	name="turn 7"
		[message]
			speaker="Dr Morteau"
			message=_ "Must I send all my men on this simple errand? So be it."
		[/message]
		{TAM_GOLD 4 30}
		[allow_recruit]
			side=4
			type=Trapper,Bandit
		[/allow_recruit]
	[/event]

	####################################################################################
	# Events
	####################################################################################
	
	{TAM_GLOBAL_EVENTS}
	{RECRUIT_UNIT_VARIATIONS (3,4) "Walking Corpse" mounted,troll,goblin,dwarf}
    
	# Last minute gold boost
	[event]
	name=moveto
		[filter]
			side=1,2,3
			[filter_adjacent]
				canrecruit=yes
				side=4
			[/filter_adjacent]
		[/filter]
		{TAM_GOLD 4 25}
	[/event]
	
	##########################################
	# Deaths
	##########################################
	
	# Death of Sayer
	[event]
	name="last breath"
		[filter]
			id="Sayer"
			side=3
		[/filter]
		[message]
			speaker="Sayer"
			message=_ "Argh, I pray the next life is less wretched than this one..."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	
	# Zombie kills morteau
	[event]
	name="last breath"
		[filter]
			id="Dr Morteau"
			side=4
		[/filter]
		[filter_second]
			side=3
		[/filter_second]
		[message]
			speaker="Dr Morteau"
			message=_ "No..."
		[/message]
		[message]
			speaker=Sayer
			message=_ "Now he is one of us!"
		[/message]
		[message]
			speaker=Hugo
			message=_ "I daresay it is a fitting fate."
		[/message]
	[/event]
	
	# Death of Morteau
	[event]
	name=die
		[filter]
			id="Dr Morteau"
			side=4
		[/filter]
		[if]
			[have_unit]
				side=4
				canrecruit=no
			[/have_unit]
			[then]
				[message]
					speaker=narrator
					image=wesnoth-icon.png
					message=_ "With Dr Morteau slain his men scatter into the trees in fright and disarray. The howls you hear soon after suggest they did not escape the clutches of the forest creatures."
				[/message]
				[kill]
					side=4
					animate=no
				[/kill]
			[/then]
		[/if]
		{CLEAR_VARIABLE temp_counter}
		{VARIABLE morteau c}
		[message]
			speaker=Sayer
			message=_ "Thank you, strangers."
		[/message]
		[message]
			speaker=Hugo
			message=_ "Largo, let's get going. This place ain't pretty."
		[/message]
		[endlevel]
			result=victory
			continue_no_save=yes
			carryover_percentage=100
			bonus=no
			carryover_report=no
			linger_mode=no
			reveal_map=no
			next_scenario=meta-map
		[/endlevel]
	[/event]
		
[/scenario]