#textdomain wesnoth-The_Altaz_Mariners
[unit_type]
	id="Sleeping Spearman"
	name= _ "Spearman"
	image="units/humans/spearman-sleeping.png"
	movement=0
	zoc=no
	{TRAIT_ASLEEP}
	num_traits=0
	race=human
    profile="portraits/humans/spearman.png"
    hitpoints=36
    movement_type=smallfoot
    experience=42
    level=1
    alignment=lawful
    advances_to=Swordsman,Pikeman,Javelineer
    cost=14
    usage=fighter
    description= _ "Swords are, for many, an expensive luxury, and one which peasants can ill afford. Spears are much easier to make and will do well even without a spearhead, though most can afford one. Clad in leather armor, and often armed with a shield and a few javelins, spearmen are the staple of most armies, often thrown into the front lines with only the most basic training."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
[/unit_type]
